body{
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color:  #fbe3e8;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;


}

.btn{
    background-color: #5adbb5;
    padding: 20px 40px;
}